@font-face
{
	font-family: roboto;
	src: url('Roboto-Regular.ttf');
}
body
{
	font-family: roboto;
	margin: 0px;
}
a
{
	text-decoration: none;
	color: #312F2F;
}
a.nav:link, a.nav:visited, a.nav:hover
{
	color: #FFFCF9;
	border-radius: 10px;
	padding: 5px;
	margin-left: 10px;
}
a.home
{
	color: #FFFCF9;
	font-size: 1.2em;
}
a.nav
{
	color: #FFFCF9;
	font-size: 1em;
}
div.header
{
	background-color: #312F2F;
	width: calc(100% - 20px);
	display: inline-block;
	color: #FFFCF9;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
div.navbar
{
	margin: 0px;
	float: right;
}
div.title
{
	float: left;
}
div.box
{
	display: block;
	margin: auto;
	border-radius: 15px;
	background: #FFFCF9;
	border: 3px solid #312F2F;
	color: #312F2F;
	padding: 15px;
	width: 350px;
	position: absolute;
	top: 50%;
	left: calc(50vw - calc(350px / 2 + 25px));
}
input
{
	background-color: #FFFCF9;
	font-size: 1em;
}
input.submit
{
	background-color: #FFFCF9;
	font-size: 1.0em;
	border: none;
	padding: 0px;
}
input.field
{
	width: 350px;
}
h1
{
	font-size: 1.5em;
	text-align: center; 
	margin-top: 0px;
	
}
