<html>
	<head>
		<title>{{ title }}</title>
		{% if css == None %}
			<link rel="stylesheet" href="{{ url_for('static', filename='css/one.css') }}"/>
		{% elif css == 1 %}
			<link rel="stylesheet" href="{{ url_for('static', filename='css/one.css') }}"/>
		{% elif css == 2 %}
			<link rel="stylesheet" href="{{ url_for('static', filename='css/two.css') }}"/>
		{% elif css == 3 %}
			<link rel="stylesheet" href="{{ url_for('static', filename='css/three.css') }}"/>
		{% endif %}
	</head>
	<body>
		<div class="header">
			webAuthV2:   
			<div class="navbar">
				{% if current_user.is_anonymous %}
				<a href="{{ url_for('login') }}" class="nav">Login</a>
				{% else %}
				<a href="{{ url_for('logout') }}" class="nav">Logout</a>
				<a href="{{ url_for('changep') }}" class="nav">Change Password</a>
				{% endif %}
			</div>  
		</div>
		<br class='navgap'>
		<br class='navgap'>
		<br class='navgap'>
		<div class="box">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
