{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
	{% if country != False %}
		<p>You are {{ ip }} from {{ country }}!</p>
	{% endif %}
    {% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			{% if message == "Password changed successfully" %}
			<ul>
				<li>{{ message }}</li>
			</ul>
			{% elif message == "You have now registered" %}
			<ul>
				<li>{{ message }}</li>
			</ul>
			{% else %}
			{% endif %}
		{% endfor %}
	{% endif %}
	{% endwith %}
	<p>Try a new style of css while you're here.</p>
	<form name="cssForm" action="" method="post" onsubmit="">
	<p>
		<input type="radio" name="css" id="one" value=1 checked> Cool Original </input><br>
		<input type="radio" name="css" id="two" value=2> Playful Purple </input><br>
		<input type="radio" name="css" id="three" value=3> Ravishing Red </input><br>
		<input type="radio" name="css" id="four" value=4> Pretty in Pink </input><br>
	</p>
	<p><input type="submit" value="Go Crazy"></p>
{% endblock %}
