{% extends "base.html" %}

{% block content %}
	<h1>Enter One Time Password</h1>
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.code.label }}<br>
			{{ form.code(size=6, class_="field") }}
			{% for error in form.code.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p  class="submit">{{ form.submit(class_="submit") }}</p>
		<p  class="submit">{{ form.partial(class_="submit") }}</p>
		<p  class="submit">{{ form.forgot(class_="submit") }}</p>
	</form>
{% endblock %}
